.jumbotron{
    background-image: url(https://media.istockphoto.com/id/1086925526/photo/abstract-blue-background-blue-curve-design-smooth-shape-by-blue-color-with-blurred-lines.jpg?s=612x612&w=0&k=20&c=SlSGroq-AAR9hgE3_WlynHTpTj1_EEFgkltxUFC4uno=);
    text-align: center;
    margin-top: 50px;
    color: white;
}
#content{
    text-align: center;
}
.card-deck{
    margin-left: 75px;
    padding-top: 15px;
}
#app{
    width: 200px;
}
#footer{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: aqua;
    margin-top: 50px;
    text-align: center;
}
